@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
:root {
  --primary-color--: #000000;
  --secondary-color--: #757881;
  --thirty-color--: #0d75ff;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}
